
header{
  margin:0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(244,243,197);
}

.icono{
  width: 45px;
  border: 1px solid rgba(145, 97, 4, 0.66);
}
.boton{
  background-color: transparent;
  border: none;
  padding: 0;

}
