
.top-container{
  position:fixed;
  width: 100%;
  margin:0;
  top: 0;
  z-index: 1000;
}

.header-container{
  margin:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244,243,197);
  width: 100%
}


.icono{
  width: 90px;
  border: 1px solid rgba(145, 97, 4, 0.66);
}

.boton{
  background-color: transparent;
  border: none;
  padding: 0;
  width: 90px;
  outline: none;
}

@media (min-width: 740px) {
.icono-menu, .boton, .hamburguesa-boton {
  display: none;
}
}
