
.menu-big-page{
  display: none
}

.menu{
  background-color: white;
  border:1px solid rgba(145, 97, 4, 0.66);
  position: relative;
  width: 60%;
  margin-left: auto;
  display: none;
  animation: menu 1s linear 0s;
}

@keyframes menu {

0% {
   -webkit-transform: translateX(150%);
   -ms-transform: translateX(150%);

   transform: translateX(150%);
 }
 70% {
   -webkit-transform: translateX(-20%);
   -ms-transform: translateX(-20%);
   transform: translateX(-20%);
 }
 100% {
   -webkit-transform: translateX(0);
   -ms-transform:translateX(0);
   transform: translateX(0);
 }
}
//----


.lista-menu-principal{
  margin: 0;
  padding-left: 0;

}

.lista-menu-principal :last-child{
  border-bottom: 0;
}


.elemento-lista{
  text-transform: uppercase;
  list-style:none;
  font-size: 2em;
  border-bottom: 1px solid rgba(145, 97, 4, 0.66);
  padding-top: 40px;
  padding-bottom: 40px;
    -webkit-transition: background-color 0.75s;
    transition: background-color 0.75s;
}


.elemento-lista:hover{
  background-color: rgb(62, 61, 12);
   color: white;
   font-size: 2.01em;
}

.link-lista {
  text-decoration: none;
  color:inherit;
  margin-left: 20px;
}



@media (min-width: 740px) {
.menu{
  display: none;
}

.menu-big-page{
  display:flex;
}

.lista-menu-principal{
display: flex;
justify-content: space-around;
align-items: center;
}
.elemento-lista{
  font-size: 1em;
  padding: 0px 10px 0px 10px;
  border-bottom: 0;
  border-left: 1px solid rgba(145, 97, 4, 0.66);

}
.link-lista {
  text-decoration: none;
  color:inherit;
  margin:0;
  padding: 20px;
}
.elemento-lista:hover{
  background-color: rgb(62, 61, 12);
   color: white;
   font-size: 1.2em;
}
}
