*{
  box-sizing: border-box;
}

$font-color: black;
$background-secondary: rgb(244,243,197);
body{
  font-family: sans-serif;
  font-size: 14px;
  font-style: helvetica;
  color: $font-color;
  background-color: white;
  margin: 0;
}
.container, .container1{
  border: 5px solid $background-secondary;
  margin: 60px 10px 60px 10px;;
  padding: 30px;
}
.container1{
  margin-top: 180px;
}
