.top-container {
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 1000; }

.header-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f3c5;
  width: 100%; }

.icono {
  width: 90px;
  border: 1px solid rgba(145, 97, 4, 0.66); }

.boton {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 90px;
  outline: none; }

@media (min-width: 740px) {
  .icono-menu, .boton, .hamburguesa-boton {
    display: none; } }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 14px;
  font-style: helvetica;
  color: black;
  background-color: white;
  margin: 0; }

.container, .container1 {
  border: 5px solid #f4f3c5;
  margin: 60px 10px 60px 10px;
  padding: 30px; }

.container1 {
  margin-top: 180px; }

.menu-big-page {
  display: none; }

.menu {
  background-color: white;
  border: 1px solid rgba(145, 97, 4, 0.66);
  position: relative;
  width: 60%;
  margin-left: auto;
  display: none;
  -webkit-animation: menu 1s linear 0s;
          animation: menu 1s linear 0s; }

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%); }
  70% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes menu {
  0% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%); }
  70% {
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.lista-menu-principal {
  margin: 0;
  padding-left: 0; }

.lista-menu-principal :last-child {
  border-bottom: 0; }

.elemento-lista {
  text-transform: uppercase;
  list-style: none;
  font-size: 2em;
  border-bottom: 1px solid rgba(145, 97, 4, 0.66);
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s; }

.elemento-lista:hover {
  background-color: #3e3d0c;
  color: white;
  font-size: 2.01em; }

.link-lista {
  text-decoration: none;
  color: inherit;
  margin-left: 20px; }

@media (min-width: 740px) {
  .menu {
    display: none; }

  .menu-big-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .lista-menu-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .elemento-lista {
    font-size: 1em;
    padding: 0px 10px 0px 10px;
    border-bottom: 0;
    border-left: 1px solid rgba(145, 97, 4, 0.66); }

  .link-lista {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 20px; }

  .elemento-lista:hover {
    background-color: #3e3d0c;
    color: white;
    font-size: 1.2em; } }

/*# sourceMappingURL=style.css.map */